* {
    font-family: 'Roboto';
    border: 1px solid red;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
}