
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 64px;
}

.logo {
    font-weight: 900;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    color: white;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 16px 64px;
}
