
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 128px;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    color: #F9FAF8;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;;
    padding: 16px 128px;
    gap: 8px;
}

.hero__main {
    font-size: 48px;
    font-weight: 900;
}

.hero__secondary {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 60%;
}

.hero__container--1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 50%;
}
.hero__container--2 {
    display: flex;
    align-items: center;
}

.hero__img {
    height: 100%;
    object-fit: cover; /* unstretched image */
}

.button__signup {
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    padding: 8px 32px;
    border-radius: 8px;
    width: 120px;
    border-style: none;
}

.info__header {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin: 32px;
}

.info__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    margin: 36px;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__img {
    border-radius: 8px;
    border: 4px solid #3882F6;
    object-fit: cover;
}

.info__subtext {
    display: flex;
    justify-content: end;
    text-align: center;
    max-width: 50%;
    margin-top: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 100px 300px;
}

.quote__text {
    font-size: 36px;
    font-weight: 300px;
}

.quote__author {
    max-width: 600px;
    text-align: right;
    font-weight: bold;
    align-self: flex-end;
}

.popup {
    display: flex;
    background-color: #3882F6;
    margin: 64px 256px;
    min-width: 300px;
    padding: 32px 16px;
    align-items: center;
    justify-content: center;
    gap: 64px;
    color: white;
    border-radius: 8px;
}

.adtitle {
    font-weight: 900;
}

.button__signup--2 {
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    padding: 8px 32px;
    border: 2px solid white;
    border-radius: 8px;
    width: 120px;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 32px 64px;
}