
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 128px;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    color: #F9FAF8;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;;
    padding: 16px 128px;
}

.hero__main {
    font-size: 48px;
    font-weight: 900;
}

.hero__secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero__container--1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hero__container--2 {
    display: flex;
    align-items: center;
}

.hero__img {
    height: 100%;
}

.button__signup {
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    padding: 8px 32px;
    border-radius: 8px;
    width: 120px;
}